@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,500;1,700&display=swap');
*{
  
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}
body,html{
    height: 100%;
}



header{
    background: url(./images/banner1.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.nav-link{
    color: white;
    padding-left: 15px;
    letter-spacing: 1px;
}


.search{
    padding: 15px;
    border-radius: 50px;
    position: relative;
}


.logo{
    padding-top: 20px;
    color: white;
}
.logo img{
    width: 30px;
}
.fixed{
    position: fixed;
    /* padding: 20px; */
    padding: 20px;

    background-color: white;
    z-index: 100000000000;
    width: 100vw;
    
}
.fixed a{
    color: black;
}
.white{
   
    top: 1pc;
    right: 5pc;
    width: 10px;
    
    font-size: 20px;
    z-index: 1;
    color: red;
position:relative;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 31px;
}
.content{
    padding-top: 160px;
}
.content h1{
    color: white;
    font-weight: 800;
    letter-spacing: 15

}
.content p{
    padding-top: 5px;
    letter-spacing: 1px;
    font-weight: 400;
    color: white;
}
.btn1{
    padding: 15px;
    border-radius: 10px;
    outline: white;
    border: none;
    background-color: white;
    color: black;
    margin-right: 10px;
    
    letter-spacing: 1px;

}
.content button{
    margin-top: 5px;
}
.about{
    padding-top: 100px;
    padding-bottom: 100px;
}

.left-about img{
    border-radius: 10px;
    width: 90%;
   
}
.right-about{
    padding-top: 10px;
}
.right-about p{
    letter-spacing: 1px;
    color: lightgray;
    
}
.red{
    color: red;
    font-size: 20px;
}

.lower-about{
    padding-top: 20px;
}
.do{
    padding-top: 100px;
    background:  #fafafa;;
    
    padding-bottom: 100px;
}
.card:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: all 0.5s ease;
    cursor: pointer;

}

.color{
    color: red;
    text-decoration: none;
}


/* customers */
.customers{
    padding-top: 100px;
    padding-bottom: 100px;
}
.para p{
    letter-spacing: 1px;

    padding-bottom: 20px;
    color: grey;
    padding-right: 40px;


}
.customer{
    position: relative;
    bottom: 30px;
    left: 40px;

}
.one-side i{
    font-size: 24px;
}

.second-side{
    padding-left: 120px;
}
.second-side i{
font-size: 24px;


}
.img-left{
    border-radius: 30px;
    position: relative;
    top: 40px;
    right: 20px;



}
.left-p{
   /* padding-top: 10px; */
padding: 20px;
padding-left: 40px;
word-wrap: break-word;
line-height: 30px;
}

.head{
    padding-left: 35px;
    color: blue;
}

.cards{
    padding-top: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 33.3%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    filter: grayscale(1) brightness(0.5);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s linear;
  }
  .column img:hover {
    filter: grayscale(0);
  }


.dog-2{
padding: 100px;
    }
.right-section{
    padding-top: 20px;
}
.col-lg-6 i{
    color: red;
    font-size: 30px;

}
.col-lg-6 h4{
    letter-spacing: 1px;
    padding-top: 10px;

}
.col-lg-6 p{
    letter-spacing: 1px;
    color: gray;
    padding-top: 10px;
    
}
.padding{
    padding-top: 20px;
}

.parallax {
    /* The image used */
    background-image: url("./images/bg.jpg");
  
    /* Set a specific height */
height: 100vh;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallel{
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .parallel-space{
    padding-top: 80px;
  }
  .parallel-space h5{
    color: white;
    font-weight: 400;

  }
  .parallel-space h1{
    letter-spacing: 1px;
    font-weight: bold;
    padding-top: 40px;
    color: white;
  }
  .btn-white{
    background-color: white;
    color: black;
    /* font-weight: bold; */
    letter-spacing: 1px;

    padding: 5px;
    width: 130px;
    height: 70px;
    margin-top: 40px;
    border-radius: 10px;
    outline: none;
    border: none;
  }
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
 
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
    .column img {
      filter: grayscale(0) brightness(1);
    }
  }
  
@media(max-width:995px){
    .right-about{
        padding-top: 20px;

    }
    .card{
        margin-top: 20px;
    }

}
@media(max-width:990px){
 
    .d-flex{
        flex-direction: column;
    }
    .padding{
        padding-top: 25px;
    }
    .white{
        display: none;
    }
}


/* foooter by refrence  */



.round-btn {display: inline;height: 40px; width: 40px; background:#fff;border-radius: 50%;float: left;margin: 15px 8px;box-shadow: 2px 2px 5px 0px rgb(82, 0, 67);border: 1px solid;/*border: 1px solid #622657;*/}
.round-btn a {display: block !important;padding: 7px 12px;font-size: 18px;border-radius: 50%;}
.round-btn .icon {padding: 3px;}
.round-btn .icon img{height: 24px; width: 32px;margin-top: 6px;}
.btn-facebook a {color: #3b5998;padding: 8px 13px;}
.btn-linkedin a {color: #007bb6;}
.btn-twitter a{color: #1c9deb;}
.btn-instagram a{color: #dd3f5c;}
.btn-whatsapp a{color: #155E54;}
.btn-envelop a{color: #D6403A;font-size: 15px; padding: 9px 12px;}
.standard_header .standard_social_links {margin-left: 1rem;}

  /*
  =========================================================================================
                                    footer
  =========================================================================================
  */
  
  .footer-wrap {
    padding-top: 43px;
    background-size: cover;
}

.footer-wrap h3 {
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.footer-wrap p {
    font-size: 13px;
    line-height: 24px;
    color: #b3b3b3;
    margin-top: 15px;
}

.footer-wrap p a {
    color: #fff;
    text-decoration: underline;
    font-style: italic;
}

.footer-wrap p a:hover {
    text-decoration: none;
    color: #ff7800;
}

.footer-links li a {
    font-size: 13px;
    line-height: 30px;
    color: #ccc;
    text-decoration: none;
}


.footer-links li:before {
    content: "\f105";
    font-family: 'FontAwesome';
    padding-right: 10px;
    color: #ccc;
}

.footer-category li a {
    font-size: 13px;
    line-height: 30px;
    color: #ccc;
    text-decoration: none;
}

.footer-category li:before {
    content: "\f105";
    font-family: 'FontAwesome';
    padding-right: 10px;
    color: #b3b3b3;
}

.address {
    
    color: #b3b3b3;
    font-size: 14px;
    position: relative;
    padding-left: 30px;
    line-height: 30px;
}

.address:before {
    content: "\f277";
    font-family: 'FontAwesome';
    position: absolute;
    top: 0;
    left: 0;
}

.info a {
 
    color: #b3b3b3;
    font-size: 14px;
    line-height: 30px;
    font-weight: normal;
}

.fa-phone:before {
    content: "\f095";
}

.info a {

    color: #b3b3b3;
    font-size: 14px;
    line-height: 30px;
    font-weight: normal;
}

.fa-fax:before {
    content: "\f1ac";
}

.copyright {
    border-top: 1px solid #111;
    font-size: 14px;
    color: #ccc;
    padding-top: 15px;
    text-align: center;
    padding-bottom: 15px;
    background: #222;
}
footer .second_class{
    border-bottom: 1px solid #444;
    padding-bottom: 25px;
}
footer .first_class {
    padding-bottom: 21px;
    border-bottom: 1px solid #444;
}
footer .first_class p, footer .first_class h3{
    margin: 0 0;
    
}
footer{
    background: #333;
}

footer .newsletter input[type="text"] {
    width: 100%;
    background: #fff;
    color: #333;
    border: 1px solid #222;
    padding: 14px 20px;
    border-radius: 50px;
    margin-top: 12px;
}

.newsletter .newsletter_submit_btn {
    background: #fff;
    position: absolute;
    right: 30px;
    border: 0;
    top: 26px;
    font-size: 17px;
    color: #333;
}


footer .second_class_bdr{
    padding-top: 25px;
    border-top:1px solid #222;
}

footer .btn-facebook a {
    padding: 6px 14px !important;
}

footer .btn-envelop a {
    color: #D6403A;
    font-size: 15px;
    padding: 12px 12px;
}

footer .round-btn a {
    padding: 6px 12px;
}

footer .round-btn {
    box-shadow: 2px 2px 5px 0px #222 !important;}

footer .round-btn {
    margin: 15px 4px;}
  
footer dl, ol, ul {
    padding-left: 5px;
}
  footer li{
    list-style: none;
  }

@media(max-width:768px){
    .footer-wrap h3 {
    margin-top: 27px;}
    
    footer .round-btn {
    margin: 15px 4px;}
}
@media(max-width:320px){
.copyright {
    font-size: 13px;}
} 


.logo{
    text-decoration:none;
    font-size: 30px;
}

footer{
    overflow: hidden;
}